h1 {
    border-radius: 10px;
    box-shadow: 2px 2px, -1px -1px red;
}

*{
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
}

#header{
    background-color: green;
    padding: 15px;
}
.highlight{
    padding: 2px;
    background-color: blueviolet;
}
.extra{
    border-radius: 10px;
    border-color: royalblue;
    border: 1px solid yellow;
    box-shadow: indigo 2px 2px, -1px -1px red;
}
[title]{
    cursor: help;
}

p {
    margin-bottom: 50px;
    border-bottom: 2px solid white;
    padding: 5px 10px 15px; 
}