div {
    background-color: white;
    padding: 4px;
    float: left;
    width: fill;
    height: fill;
    border-radius: 8px;
    margin: 0 4px 4px 0;
    border: 2px solid;
}

div div {
    align-items: center;
    padding: 4px 8px;
    width: 80px;
    order: 2;
    flex-grow: 0;
    text-align: center;
    border: 1px solid black;
}

div h2 {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
}

div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    margin: 0
}

p {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    font-family: 'Poppins';
}

section {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 16px 0px;
    gap: 8px;
    position: relative;
    width: 400px;
    height: 640px;
    overflow-y: scroll;
    justify-content: space-between;
}

section img.icon {
    width: 24px;
    height: 30px;
    left: 4px;
    top: 4px;
    padding: 0px 4px;
}

h1 {
    margin: 0;
    padding: 2px 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #212121;
}

span {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 0px 8px;
    gap: 16px;
    gap: 10px 100px;
    width: 380px;
    height: 30px;
    border: 1px solid black
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}