div div {
    align-items: center;
    padding: 4px 8px;

    width: 80px;
    order: 2;
    flex-grow: 0;
    text-align: center;
}

div {
    background-color: white;
    padding: 4px;
    float: left;
    width: fill;
    height: fill;
    border-radius: 8px;
    margin: 0 4px 4px 0;
}

div h2 {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
}

div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    margin: 0
}

img {}